@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body {
  /* background-color: azure; */
  /* background-color: cornsilk; */
  background-image: url("/Images/Ocean-2.5s-1740px.png");
  /* height: 100vh;
  width: 100vw; */
}

#logo,
#options {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  height: 10rem;

  line-height: 10rem;
  font-size: 10rem;
  font-weight: 600;
  color: #079c7e;
}

#logo img {
  transform: rotate(90deg);
  margin-right: -0.5rem;
}

#options {
  margin-top: 5rem;
  height: 10rem;
}

#options img,
#return {
  margin: 1rem;
  /* border: 1px solid black; */
  border-radius: 1rem;
}

#options img:hover,
#return:hover {
  background-color: black;
}

#return {
  height: 6rem;
  transform: rotate(180deg);
  border-radius: 50%;
}

#board {
  margin: auto;
  margin-top: -3rem;
  height: 40rem;
  width: 40rem;
  border-radius: 0.5rem;
  background-color: #064f50;
}

#speed_container,
#score_container {
  position: absolute;
  margin: 1rem;
  top: 15rem;
  right: 5rem;
  display: flex;
  height: 6rem;
}

#speed,
#score_container,
#score {
  width: 10rem;
  line-height: 6rem;
  text-align: center;
  color: #079c7e;
  font-size: 2rem;
}

#score_container {
  left: 7rem;
}

#gameover {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(black, black, black, 0.7); */
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: black; */

  justify-content: center;
  align-items: center;
}

.gameover_container {
  /* display: flex; */
  text-align: center;
  font-size: 4rem;
  font-style: oblique;
  color: #079c7e;
  /* background-color: #103c3c; */
  background-color: #063939;
  border-radius: 2rem;
  width: 30rem;
  height: 13rem;
}

.gameover_options {
  display: flex;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 8rem;
}

#returnhome {
  transform: rotate(180deg);
  /* border: 5px solid black; */
  border-radius: 50%;
}

#retry {
  border-radius: 50%;
}
